<!doctype html>
<html lang="en">

<head>
     <title>ALL DATA</title>
</head>

<body>


     <h1>STUDENTS ALL DATA</h1>

     <h3>student data</h3>
     {% for student in student_data %}
          Full Name - {{student.first_name}}  {{student.last_name}} <br>
     {% endfor %}<br>


     <h3>teacher data</h3>

     {% for teacher in teacher_data %}
          First Name - {{teacher.first_name}}<br>
          last Name - {{teacher.last_name}}<br>
          Age - {{teacher.age}}<br>
          Subject - {{teacher.subject}} <br>
     {% endfor %}
     

</body>

</html>